* {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  font-family: serif;
  font-size: 16px;
  background: #E3DFD2;
  color: #585247;
  /* color: black; */
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.section-zoetrope {
  perspective: 700px;
  perspective-origin: 50% 0%;
}

.vertical-line {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 2px;
  height: 200vh;
  background-color: whitesmoke;
  z-index: 0;
  /* box-shadow: 0 0 10px 1px white; */
}

.spin, .heading {
  text-align: center;
  /* letter-spacing: 0.15em; */
}

a {
  letter-spacing: 0.1em;
}

.content-container, .heading {
  letter-spacing: 0.15em;
}

.spin {
  position: relative;
  font-size: 4em;
  letter-spacing: 0.3em;
  cursor: pointer;
  z-index: 0;
  margin: 3%;
}

/* CAROUSEL */
.carousel {
  position: absolute;
  width: 900px;
  /* height: 300px; */
  left: 0;
  right: 0;
  /* top: 70px; */
  /* border: 2px solid red; */
  margin: auto;
  transform-style: preserve-3d;
  z-index: 1;
  /* display: none; */
}

.slide-left,
.slide-right,
.slide[data-active] {
  transition: width 0.5s, height 0.5s, opacity 0.5s ease; /* Apply transition */
  text-align: center;
  /* background-color: whitesmoke; */
  /* z-index: 2; */
}

.slide-left,
.slide-right,
.slide[data-active].visible {
  opacity: 1;
}

.slide-left.hidden, .slide-right.hidden, .slide-middle.hidden {
  opacity: 0;
}

.slide {
  position: absolute;
  opacity: 0;
  /* border: 2px #585247 solid; */
  border-radius: 10px;
  /* display: none; */
}

.slide-middle {
  position: absolute;
  width: 344px;
  height: 294px;
  left: calc(50% - 172px);
  top: -200px;
  opacity: 1;
  transform-origin: center center;
}

.expanded {
  width: 700px;
  height: 600px;
  left: calc(50% - 350px);
  z-index: 3;
}

.slide-left {
  width: 350px;
  height: 302px;
  transform-origin: 50% 0;
  /* transform: rotateY(-30deg) translateZ(-138px); */
  transform: rotateY(-28deg) translateZ(-130px);
  left: -70px;
  top: -200px;
  opacity: 1;
}

.slide-right {
  width: 350px;
  height: 302px;
  transform-origin: 50% 0;
  /* transform: rotateY(30deg) translateZ(-138px); */
  transform: rotateY(28deg) translateZ(-130px);
  right: -70px;
  top: -200px;
  opacity: 1;
}

@media screen and (max-width: 1440px) {
  .section-zoetrope {
    perspective: 1000px; 
    /* perspective-origin: 50% 50%;  */
  }

  body {font-size: 14px;}

  .slide-left, .slide-right, .slide-middle {
    top: -160px;
  }

  .slide-left {
    left: -20px;
  }

  .slide-right {
    right: -20px;
  }

}

.carousel-button {
  position: absolute;
  width: 40px;
  height: 40px;
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 0 .5rem;
}

.carousel-button.prev {
  left: 0.2rem;
}

.carousel-button.next {
  right: 0.2rem;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.data-slides {
  position: relative;
  transform-style: preserve-3d;
  opacity: 1;
  transition: opacity 0.5s ease;
  z-index: 2;
}

/* ZOETROPE */
.zoetrope {
  position: relative;
  /* border: 2px solid #585247; */
  width: 900px;
  height: 111px;
  margin: 12% auto 0;
  transform-style: preserve-3d;
  cursor: pointer;
  /* animation: zoetrope 3s ease-in-out infinite; */
  /* transition: transform 0.3s ease; */
}

.animate {
  animation: zoetrope 3s ease-in-out;
}

.animate-chevron-next {
  animation: chevron-next 1.5s ease-in-out;
}

.animate-chevron-prev {
  animation: chevron-prev 1.5s ease-in-out;
}

.animate-content-next {
  animation: rotate-content-next 1.5s ease-in-out;
}

.animate-content-prev {
  animation: rotate-content-prev 1.5s ease-in-out;
}

.zoetrope div {
  position: absolute;
  /* border: 2px solid black; */
  width: 140px;
  height: 120px;
  left: calc(50% - 70px);
  bottom: 50%;
  transform-origin: 50% 0;
  background-image: url("/Users/jamesmiller/Documents/Founders & Coders/Website Zoetrope/images/DSC_0129.JPG");
  background-size: 100%;
  background-repeat: no-repeat;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.zoetrope div:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  transform: translateZ(-1px);
  border-radius: 5px;
}

.zoetrope div:nth-child(1) {
  transform: rotateY(30deg) translateZ(-300px);
} 

.zoetrope div:nth-child(2) {
  transform: rotateY(60deg) translateZ(-300px);
}

.zoetrope div:nth-child(3) {
  transform: rotateY(90deg) translateZ(-300px);
}

.zoetrope div:nth-child(4) {
  transform: rotateY(120deg) translateZ(-300px);
}

.zoetrope div:nth-child(5) {
  transform: rotateY(150deg) translateZ(-300px);
}

.zoetrope div:nth-child(6) {
  transform: rotateY(180deg) translateZ(-300px);
}

.zoetrope div:nth-child(7) {
  transform: rotateY(210deg) translateZ(-300px);
}

.zoetrope div:nth-child(8) {
  transform: rotateY(240deg) translateZ(-300px);
}

.zoetrope div:nth-child(9) {
  transform: rotateY(270deg) translateZ(-300px);
}

.zoetrope div:nth-child(10) {
  transform: rotateY(300deg) translateZ(-300px);
} 

.zoetrope div:nth-child(11) {
  transform: rotateY(330deg) translateZ(-300px);
} 

.zoetrope div:nth-child(12) {
  transform: rotateY(0deg) translateZ(-300px);
}

@keyframes zoetrope {
  to {
    transform: rotateY(1080deg);
  }
}/*# sourceMappingURL=styles.css.map */

@keyframes chevron-next {
  to {
    transform: rotateY(-30deg);
  }
}

@keyframes chevron-prev {
  to {
    transform: rotateY(30deg);
  }
}

@keyframes rotate-content-prev {
  to {
    transform: translateY(-600px);
  }
}

@keyframes rotate-content-next {
  to {
    transform: translateY(600px);
  }
}

nav {
  position: absolute;
  padding: 10px;
  margin-top: .5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  /* top: 10px; */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
}

a {
  color: #585247;
  text-decoration: none;
}

.section-content {
  position: relative;
}

.content-container {
  border: 1px solid black;
  position: absolute;
  width: 900px;
  height: 600px; 
  left: calc(50% - 450px);
}

/* .top-block {
  top: -600px;
} */

.middle-block {
  top: 700px;
}

.bottom-block {
  top: 1400px;
}

.hidden-content {
  /* opacity: 0; */
  top: -600px;
  display: none; 
  transition: top 0.5s ease;
}

.slide-cover {
  top: -600px;
  z-index: -1;
  background-color: #E3DFD2;
  /* display: none; */
}

.content-block {
  /* border: 1px solid red; */
  position: relative;
  z-index: 1;
  width: 50%;
  height: 30%;
  /* margin-top: 5%; */
}

.left-block {
  padding-right: 5%;
}

.right-block {
  left: 50%;
  padding-left: 5%;
  top: -15%;
}

.active {
  opacity: 1;
}

p {
  position: relative;
  line-height: 1.5; /* Adjust line height as needed */
  margin: 0;
  top: 25%;
  text-transform: capitalize;
  letter-spacing: normal;
  /* display: none; */
}

h3 {
  margin: 0;
}



